#contactPage > img {
    height: 50px;
}

.contactItems:nth-child(1) {
    grid-area: a;
}

.contactItems:nth-child(2) {
    grid-area: b;
}

.contactItems:nth-child(3) {
    grid-area: c;
}


@media screen and (min-width: 1450px) {
    #contactPage {
        padding-top: 2rem;
        padding-bottom: 11.5rem;
    }

    .grid-container-contact {
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "a . b . c";
    }

}

@media screen and (max-width: 541px) {
    #contactPage {
        padding-top: 2rem;
        padding-bottom: 6.5rem;
    }

    .grid-container-contact {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "a"
            "b"
            "c";
    }

}

@media screen and (min-width: 541px) and (max-width: 1450px) {
    #contactPage {
        padding-top: 2rem;
        padding-bottom: 11.5rem;
    }

    .grid-container-contact {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a . b"
            ". c .";
    }

}