#contactUs {
    background-image: url('/assets/images/brick-oven.jpg');
    height: 20rem;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
    margin-top: 26px;
    /* margin-bottom: relative; */
}

#contactUs > h1 {
    color: white;
    font-size: 4.4rem;
    position: absolute;
    top: 249px;
    left: 25px;
}

.contactItems:nth-child(1) {
    grid-area: a;
}

.contactItems:nth-child(2) {
    grid-area: b;
}

.contactItems:nth-child(3) {
    grid-area: c;
}


@media screen and (min-width: 1450px) {
    #contactPage {
        padding-top: 2rem;
        margin-bottom: 6.5rem;
    }

    .grid-container-contact {
        display: inline-grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "a . b . c";
        padding-top: 8rem;
    }

}

@media screen and (max-width: 541px) {
    #contactPage {
        padding-top: 2rem;
        margin-bottom: 4.5rem;
    }

    .grid-container-contact {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "a"
            "b"
            "c";
        padding-top: 2rem;
    }

}

@media screen and (min-width: 541px) and (max-width: 1450px) {
    #contactPage {
        padding-top: 2rem;
        margin-bottom: 9rem;
    }

    .grid-container-contact {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a . b"
            ". c .";
        padding-top: 5rem;
    }

}