/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/open-sans-v28-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/open-sans-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /*IE6-IE8*/
         url('/assets/fonts/open-sans-v28-latin-italic.woff2') format('woff2'), /*Super Modern Browsers*/
         url('/assets/fonts/open-sans-v28-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/open-sans-v28-latin-italic.ttf') format('truetype'), /*Safari, Android, iOS*/
         url('/assets/fonts/open-sans-v28-latin-italic.svg#OpenSans') format('svg'); /*Legacy iOS*/
  }


body {
    position: relative;
    margin: 0;
}
/* page titles */
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-family: 'Open Sans'
}

img {
    height: 20rem;
}

.tabContent {
    text-align: center;
}

@media screen and (min-width: 377px) {
    .footer {
        background-color: #f1f1f1;
        height:43px; 
        width: 100%; 
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        position: fixed;
        bottom: 0;
        left: 0pt;
    }   
    
    .footer > p {
        height:24px;
        margin:auto;
        font-size: 12px;
        padding: 15px 1px 0px;
        text-align: center;
    }
}

@media screen and (max-width: 376px) {
    .footer {
        background-color: #f1f1f1;
        height:43px; 
        width: 100%; 
        position: absolute;
        bottom: 0;
    }   
    
    .footer > p {
        height:24px;
        margin:auto;
        font-size: 12px;
        padding: 15px 1px 0px;
        text-align: center;
    }
}

/* contentID styling added at bottom. Adding above flex css interupts the code */
#contentID {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    padding-top: 15px;
    /* padding-bottom: 15px; */
};
