.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 1rem;
}

.flex-container > div > img {
    height: 70px;
}


/* 
 #homePage > h1 + h3 + img {
    background-image: url("");
}
 */

/* contentID styling added at bottom. Adding above flex css interupts the code */
#contentID {
    font-family: 'Open Sans';
    font-size: 1.2rem;
};