@media screen and (min-width: 1450px) {
    #homePage {
        padding-top: 2rem;
        padding-bottom: 11.5rem;
    }

    h3 {
        margin-bottom: 4rem;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 1rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 392px) and (max-width: 1450px) {
    #homePage {
        padding-top: 2rem;
        padding-bottom: 11.5rem;
    }

    h3 {
        margin-bottom: 4rem;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 1rem;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 391px) {
    #homePage {
        padding-top: 2rem;
        padding-bottom: 6.5rem;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding-top: 1rem;
    }
}

.flex-container > div > img {
    height: 70px;
}

#divCoverHome {
    background-image: url('/assets/images/pizza-dining-homepage.png');
    height: 25rem;
    background-size: cover;
    background-position: center;;
}

#divCoverHome > h1 {
    padding-top: 14px;
    padding-left: 15px;
    font-size: 2.4rem;
    text-align: left;
}


/* @media screen and (min-width: 1450px) {


}

@media screen and (max-width: 391px) {

}

@media screen and (min-width: 392px) and (max-width: 1450px) {

} */

