#divCoverMenu1 {
    background-image: url('/assets/images/pizza-table.png');
    height: 10rem;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
    position: relative;
}

#divCoverMenu1 > h1 {
    margin: 0;
    font-size: 5rem;
    text-align: center;
    color: white;
}

#divCoverMenu2 {
    background-image: url('/assets/images/pizza-table.png');
    height: 10rem;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
}

#divCoverMenu3 {
    background-image: url('/assets/images/pizza-table.png');
    height: 10rem;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
}

.grid-container-menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 20rem;
}

.menuItem {
    margin-top: 10rem;
}