#menuPage {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#divCoverMenu1 {
    background-image: url('/assets/images/pizza-table.png');
    height: 10rem;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
    position: relative;
}

#classics > h1 {
    color: white;
    position: absolute;
    top: 23px;
    left: 25px;
    /* text-align: center; */
    font-size: 4.4rem;
}

#cocktails > h1 {
    color: white;
    position: absolute;
    top: 413px;
    left: 25px;
    /* text-align: center; */
    font-size: 4.4rem;
}

#divCoverMenu2 {
    background-image: url('/assets/images/cocktail.jpg');
    height: 10rem;
    background-size: cover;
    background-position: center;
    padding-top: 15px;
    /* margin-bottom: relative; */
}

#menuItem1 {
    grid-area: a;
}

#menuItem2 {
    grid-area: b;
}

#menuItem3 {
    grid-area: c;
}

#menuItem4 {
    grid-area: d;
}

#menuItem5 {
    grid-area: a;
}

#menuItem6 {
    grid-area: b;
}

#menuItem7 {
    grid-area: c;
}

#menuItem8 {
    grid-area: d;
}

@media screen and (min-width: 1450px) {

    #classics > h1 {
        color: white;
        position: absolute;
        top: 23px;
        left: 25px;
        /* text-align: center; */
        font-size: 4.4rem;
    }

    #cocktails > h1 {
        color: white;
        position: absolute;
        top: 413px;
        left: 25px;
        /* text-align: center; */
        font-size: 4.4rem;
    }

    .grid-container-menu {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* grid-template-rows: 5rem; */
        justify-content: space-evenly;
        grid-row-gap: 1rem;
        grid-template-areas:
        "_ a b c d";   
        margin-bottom: 13rem;
        grid-column-gap: 7%;
    }

    .menuItem {
        margin-top: 12rem;
    }

}

@media screen and (max-width: 391px) {

    #classics > h1 {
        color: white;
        position: absolute;
        top: 23px;
        left: 25px;
        /* text-align: center; */
        font-size: 4.4rem;
    }

    #cocktails > h1 {
        color: white;
        position: absolute;
        top: 605px;
        left: 25px;
        /* text-align: center; */
        font-size: 4.4rem;
    }

    .grid-container-menu {
        display: grid;
        grid-template-rows: 5rem;
        justify-content: space-evenly;
        grid-row-gap: 1rem;
        grid-template-columns: fit-content(100px) fit-content(100px);
        grid-template-areas:
        "a a"
        "b b"
        "c c"
        "d d";
        margin-bottom: 20rem;
        font-size: 0.8rem;
    }

    #menuItem1, #menuItem2, 
    #menuItem5, #menuItem6 {
        margin-top: 10rem;
    }

    #menuItem3, #menuItem4,
    #menuItem8, #menuItem8 {
        margin-bottom: 0rem;
    }

    #divCoverMenu2 {
        margin-top: 24.5rem;
    }

}

@media screen and (min-width: 392px) and (max-width: 1450px) {

    #classics > h1 {
        color: white;
        position: absolute;
        top: 23px;
        left: 25px;
        /* text-align: center; */
        font-size: 4.4rem;
    }

    #cocktails > h1 {
        color: white;
        position: absolute;
        top: 534px;
        left: 25px;
        /* text-align: center; */
        font-size: 4.4rem;
    }

    .grid-container-menu {
        display: grid;
        grid-template-rows: 5rem;
        grid-template-areas:
            "a a b b"
            "a a b b"
            "c c d d"
            "c c d d";
        grid-column-gap: 7%;
        margin-bottom: 20rem;
    }

    #menuItem1, #menuItem2, #menuItem5, #menuItem6 {
        margin-top: 10rem;
    }
/* 
    #divCoverMenu1 > h1 {
        padding-top: 14px;
        padding-right: 110px;
        padding-left: 15px;
        font-size: 4.4rem;
        text-align: center;
        color: yellow;
        grid-area: a;
    }

    #divCoverMenu2 > h1 {
        padding-top: 14px;
        padding-right: 110px;
        padding-left: 61px;
        font-size: 4.4rem;
        text-align: center;
        color: yellow;
        grid-area: a;
    } */
/* 
    #menuItem7, #menuItem8 {
        margin-bottom: 10px;
    } */
}

