/* Style the tab */
.navTabs {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  /* Style the buttons that are used to open the tab content */
.navTabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    }

/* Change background color of buttons on hover */
.navTabs button:hover {
    background-color: #ddd;
    }
    
/* Create an active/current tablink class */
.navTabs button.active {
    background-color: #ccc;
    }

/* Style the tab content */
.tabContent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    }